.formfiltre-container{
    margin: 0.5rem 0rem;
}
.formfiltre, .formfiltre div{
    display: flex;
    flex-wrap: wrap;
}
.formfiltre div{
    flex-direction: column;
    justify-content: center;
    margin: 0.2rem 0.2rem;
}
.formfiltre div label{
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    align-self: center;
    color: black;
}
.formfiltre{
    width: 90%;
    margin: auto;
    background-color:white;
    padding: 1% 1%;
    justify-content:space-between;
    border-radius: 1rem;
}
.formfiltre:hover{
    box-shadow: 1px 1px 15px #aaa; 
    -o-box-shadow: 1px 1px 15px #aaa; 
    -webkit-box-shadow: 1px 1px 15px #aaa; 
    -moz-box-shadow: 1px 1px 15px #aaa;
}
.formfiltre div select{
    height: 2rem;
    background-color: white;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    width: 10rem;
}
.formfiltre div button{
    padding: 0.5rem 1rem;
    align-self: center;
    border-radius: 0.5rem;
    color: #2596be;
    background-color: white;
    border: 0.1rem solid #2596be;
    font-size: 1rem;
}
.formfiltre div button:hover{
    color:white;
    background-color: #2596be;
}